# Welcome to data exploration with Python and Jupyter!

## Here&rsquo;s what to expect:


[Overview of Jupyter](#Overview-of-Jupyter)


[Overview of Python syntax with calculation](#Overview-of-Python-syntax)


[Refactoring our calculation using Python data structures](#Overview-of-Python-data-structures)


[Introducing pandas](#Introducing-pandas)
  - [Filtering](#Filtering)
  - [Aggregation](#Aggregation)
  
  
[Scraping HTML tables with a single command](#Scraping-HTML-tables-with-a-single-command)


[Common cleaning/"munging" tasks](#Common-cleaning/"munging"-tasks)
  - [String replacement or substitution](#String-replacement-or-substitution)
  - [Converting data types](#Converting-data-types)

### Note that this is the reference notebook, so code is already largely entered. It'll be helpful for following along or referring to when you're lost!

# Imports

In [1]:
import pandas as pd

# Overview of Jupyter

In [ ]:
%pwd

In [ ]:
%quickref

# Overview of Python syntax

## Compare state populations in a reusable way

Simple calculation, but easy to forget what these values mean

In [2]:
# Compare

7535591 / 4190713

1.7981644173676412

In [3]:
# name variables

washington = 7535591
oregon = 4190713
idaho = 1754208

In [4]:
washington

7535591

In [5]:
wa_vs_or = 7535591 / 4190713

In [6]:
wa_vs_or

1.7981644173676412

How do these values differ?

#### Check `type` of `washington`

In [7]:
type(washington)

int

#### Check `type` of `wa_vs_or`

In [8]:
type(wa_vs_or)

float

# Overview of Python data structures

These include lists, dictionaries, tuples and sets. However, we only need to use the first two today.

#### Create a `list` of states in the Pacific Northwest

In [9]:
pnw = ['Washington', 'Oregon', 'Idaho']

You can access items in a list through its `index`, which starts at 0.

In [10]:
pnw[0]

'Washington'

#### Use a `dict` to allow comparison of multiple coffee types

In [11]:
population = {'Washington': 7535591, 'Oregon': 4190713, 'Idaho': 1754208}

#### Retrieve the population of Washington

In [12]:
population['Washington']

7535591

#### Calculate the difference between the population of Washington and the population of Idaho without typing out their values.

In [13]:
population['Washington'] / population['Idaho']

4.295722628103395

# Introducing pandas

In [14]:
df = pd.read_csv('data/subset_wa_statewide_2019_02_25.csv')

In [15]:
df.head()

,raw_row_number,date,time,location,lat,lng,county_name,subject_age,subject_race,subject_sex,...,type,violation,arrest_made,citation_issued,warning_issued,outcome,contraband_found,frisk_performed,search_conducted,search_basis
0,8019044,2016-02-02,11:00:00,S-007-52,47.150208,-122.434349,Pierce,23.0,white,female,...,vehicular,License Susp/Rev 3rd Deg,NaN,True,False,citation,NaN,False,False,NaN
1,8019045,2016-02-02,15:00:00,S-512-1,47.158609,-122.460028,Pierce,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
2,8019046,2016-02-03,06:00:00,S-161-20,47.079324,-122.293957,Pierce,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
3,8019047,2016-02-03,07:00:00,S-161-22,47.107855,-122.293409,Pierce,36.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
4,8019048,2016-02-03,09:00:00,S-512-10,47.179102,-122.295119,Pierce,54.0,white,male,...,vehicular,Vehicle registration (paper),False,False,True,warning,NaN,False,False,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268281 entries, 0 to 268280
Data columns (total 23 columns):
raw_row_number      268281 non-null int64
date                268281 non-null object
time                268281 non-null object
location            246038 non-null object
lat                 237238 non-null float64
lng                 237238 non-null float64
county_name         237238 non-null object
subject_age         185500 non-null float64
subject_race        185884 non-null object
subject_sex         185906 non-null object
officer_race        268281 non-null object
officer_sex         268281 non-null object
department_name     268281 non-null object
type                268281 non-null object
violation           104700 non-null object
arrest_made         175126 non-null object
citation_issued     268281 non-null bool
warning_issued      268281 non-null bool
outcome             182953 non-null object
contraband_found    4887 non-null object
frisk_performed     185952 non-null object
search_conducted    185724 non-null object
search_basis        4887 non-null object
dtypes: bool(2), float64(3), int64(1), object(17)
memory usage: 43.5+ MB

#### Grab the first row in the dataframe, using the same syntax you did for lists

In [17]:
df.iloc[0]

raw_row_number                       8019044
date                              2016-02-02
time                                11:00:00
location                            S-007-52
lat                                  47.1502
lng                                 -122.434
county_name                           Pierce
subject_age                               23
subject_race                           white
subject_sex                           female
officer_race                           white
officer_sex                             male
department_name      Washington State Patrol
type                               vehicular
violation           License Susp/Rev 3rd Deg
arrest_made                              NaN
citation_issued                         True
warning_issued                         False
outcome                             citation
contraband_found                         NaN
frisk_performed                        False
search_conducted                       False
search_basis                             NaN
Name: 0, dtype: object

What is a `NaN`?

In [18]:
df.iloc[0]['search_basis']

nan

#### Check the `type` of the value you just returned

In [19]:
type(df.iloc[0]['search_basis'])

float

Sometimes it's best to leave `NaN`s as they are, but sometimes it's better to replace them with a empty strings or 0s, if the absence of data is equivalent to a zero count! We would do this with .fillna().

<hr>

How messy is our data? One quick way to tell is variation among values of a known quantity.

In [20]:
df['county_name'].nunique()

38

Checking unique values is also helpful for understanding whether we have a unique identifier! For example: `raw_row_number`.

In [21]:
len(df)

268281

#### Check how many unique values there are in the `raw_row_number` field.

In [22]:
df['raw_row_number'].nunique()

268281

To make absolutely sure they're equal, instead of eyeing the difference, you can use the comparison operator `==`. Other comparison operators include `<`, `>`, `<=` and `>=`.

In [23]:
len(df) == df['raw_row_number'].nunique()

True

### Filtering

You can use syntax like this to filter the data on the county you want.

In [24]:
df[df['county_name'] == 'Clark']

,raw_row_number,date,time,location,lat,lng,county_name,subject_age,subject_race,subject_sex,...,type,violation,arrest_made,citation_issued,warning_issued,outcome,contraband_found,frisk_performed,search_conducted,search_basis
35,8019079,2016-02-09,08:00:00,S-500-2,45.647556,-122.624623,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
36,8019080,2016-02-09,11:00:00,I-005-14,45.815798,-122.685591,Clark,65.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
37,8019081,2016-02-09,12:00:00,I-005-14,45.815798,-122.685591,Clark,41.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
61,8019105,2016-02-11,07:00:00,S-500-6,45.658503,-122.566486,Clark,39.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
62,8019106,2016-02-11,07:00:00,S-500-6,45.658503,-122.566486,Clark,43.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
63,8019107,2016-02-11,08:00:00,S-500-6,45.658503,-122.566486,Clark,52.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
64,8019108,2016-02-12,03:00:00,I-005-17,45.852041,-122.702549,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
65,8019109,2016-02-12,16:00:00,I-005-14,45.815798,-122.685591,Clark,59.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
66,8019110,2016-02-17,09:00:00,I-205-30,45.656362,-122.570085,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
95,8019148,2016-02-09,11:00:00,I-005-14,45.815798,-122.685591,Clark,22.0,white,female,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
96,8019149,2016-02-09,13:00:00,I-005-7,45.714493,-122.653205,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
97,8019150,2016-02-12,09:00:00,I-005-3,45.658000,-122.664849,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
145,8019222,2016-02-10,11:00:00,I-005-13,45.815798,-122.685591,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
146,8019223,2016-02-11,07:00:00,S-500-7,45.682018,-122.552163,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
147,8019224,2016-02-11,07:00:00,S-500-6,45.658503,-122.566486,Clark,36.0,white,female,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
148,8019225,2016-02-11,07:00:00,S-500-6,45.658503,-122.566486,Clark,38.0,white,female,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
149,8019226,2016-02-12,13:00:00,I-005-13,45.815798,-122.685591,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
150,8019236,2016-02-18,08:00:00,S-500-16,45.626092,-122.398643,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
355,8019505,2016-02-09,10:00:00,I-005-14,45.815798,-122.685591,Clark,21.0,white,female,...,vehicular,NaN,NaN,True,True,citation,NaN,False,False,NaN
356,8019506,2016-02-09,11:00:00,I-005-16,45.852041,-122.702549,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
357,8019507,2016-02-09,12:00:00,I-005-14,45.815798,-122.685591,Clark,23.0,black,female,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
396,8019546,2016-02-09,08:00:00,I-005-15,45.815798,-122.685591,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
529,8019680,2016-02-09,10:00:00,I-005-11,45.779259,-122.672988,Clark,38.0,asian/pacific islander,female,...,vehicular,HOV Violations,NaN,True,False,citation,NaN,False,False,NaN
552,8019703,2016-02-09,11:00:00,I-005-14,45.815798,-122.685591,Clark,32.0,white,female,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
553,8019704,2016-02-10,08:00:00,S-014-2,45.618547,-122.632405,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
555,8019706,2016-02-17,06:00:00,I-205-34,45.683082,-122.593698,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
556,8019707,2016-02-17,10:00:00,I-005-15,45.815798,-122.685591,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
573,8019742,2016-02-10,08:00:00,I-005-6,45.693498,-122.660905,Clark,23.0,white,female,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
574,8019743,2016-02-10,08:00:00,S-014-7,45.599637,-122.534130,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
610,8019801,2016-02-11,06:00:00,I-205-28,45.621883,-122.559150,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243968,8693637,2016-03-19,08:00:00,S-014-9,45.589278,-122.494940,Clark,33.0,white,male,...,vehicular,Vehicle registration (paper),False,False,True,warning,NaN,False,False,NaN
243969,8693638,2016-03-19,10:00:00,I-205-30,45.656362,-122.570085,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
243970,8693639,2016-03-26,11:00:00,S-014-1,45.618403,-122.652946,Clark,59.0,white,male,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
243971,8693640,2016-03-26,13:00:00,I-005-1,45.633466,-122.663496,Clark,48.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
243972,8693641,2016-03-26,17:00:00,S-014-9,45.589278,-122.494940,Clark,38.0,white,male,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
243973,8693642,2016-03-27,11:00:00,I-205-32,45.683082,-122.593698,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
243974,8693643,2016-03-27,12:00:00,S-503-1,45.696242,-122.552778,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
243975,8693644,2016-03-27,16:00:00,I-005-11,45.779259,-122.672988,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
243976,8693645,2016-03-28,08:00:00,S-500-5,45.658503,-122.566486,Clark,62.0,white,male,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
246502,8696404,2016-03-02,19:00:00,I-205-31,45.656362,-122.570085,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
246503,8696405,2016-03-02,22:00:00,S-500-1,45.647556,-122.624623,Clark,23.0,white,male,...,vehicular,Vehicle Lic (tabs/plates)|Insurance - None,False,False,True,warning,NaN,False,False,NaN
246504,8696406,2016-03-03,19:00:00,S-503-1,45.696242,-122.552778,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
246505,8696407,2016-03-03,00:00:00,S-500-5,45.658503,-122.566486,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
246506,8696408,2016-03-09,00:00:00,I-205-31,45.656362,-122.570085,Clark,50.0,white,female,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
246507,8696409,2016-03-10,01:00:00,S-014-5,45.608519,-122.572972,Clark,20.0,hispanic,male,...,vehicular,Oper Licence - I,NaN,True,False,citation,NaN,True,NaN,NaN
246508,8696410,2016-03-16,08:00:00,S-014-8,45.594606,-122.514438,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
246509,8696411,2016-03-20,08:00:00,S-014-4,45.612482,-122.592815,Clark,22.0,black,male,...,vehicular,Vehicle registration (paper)|Insurance - None,NaN,True,True,citation,NaN,False,False,NaN
246510,8696412,2016-03-20,09:00:00,S-014-14,45.577886,-122.398867,Clark,46.0,white,female,...,vehicular,Insurance - None,NaN,True,True,citation,NaN,False,False,NaN
246511,8696413,2016-03-25,14:00:00,I-005-11,45.779259,-122.672988,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
246512,8696414,2016-03-25,16:00:00,I-205-28,45.621883,-122.559150,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
246513,8696415,2016-03-27,11:00:00,I-005-6,45.693498,-122.660905,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
246514,8696416,2016-03-28,09:00:00,I-205-33,45.683082,-122.593698,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
246515,8696417,2016-03-28,14:00:00,I-005-13,45.815798,-122.685591,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
246516,8696418,2016-03-28,16:00:00,S-014-8,45.594606,-122.514438,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
246843,8696746,2016-03-07,07:00:00,I-005-8,45.714493,-122.653205,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
250393,8700440,2016-03-07,07:00:00,I-005-8,45.714493,-122.653205,Clark,NaN,NaN,NaN,...,vehicular,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
257535,8707854,2016-03-05,00:00:00,I-005-17,45.852041,-122.702549,Clark,21.0,white,male,...,vehicular,Vehicle registration (paper),NaN,True,True,citation,NaN,False,False,NaN
259760,8710191,2016-03-27,15:00:00,I-005-11,45.779259,-122.672988,Clark,16.0,white,female,...,vehicular,NaN,NaN,True,True,citation,NaN,False,False,NaN
259833,8710264,2016-03-28,19:00:00,I-005-6,45.693498,-122.660905,Clark,21.0,asian/pacific islander,male,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
268163,8720596,2016-03-11,18:00:00,S-014-7,45.599637,-122.534130,Clark,57.0,white,male,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN

What if we want to look at just the data for minors? Adjust the above with the appropriate comparison operator and field:

In [25]:
df[df['subject_age'] < 18]

,raw_row_number,date,time,location,lat,lng,county_name,subject_age,subject_race,subject_sex,...,type,violation,arrest_made,citation_issued,warning_issued,outcome,contraband_found,frisk_performed,search_conducted,search_basis
31,8019075,2016-02-25,09:00:00,I-090-13,47.565877,-122.100859,King,17.0,white,male,...,vehicular,Vehicle registration (paper),NaN,True,True,citation,NaN,False,False,NaN
76,8019129,2016-02-18,07:00:00,S-704-5,47.096984,-122.441302,Pierce,17.0,asian/pacific islander,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
81,8019134,2016-02-01,09:00:00,S-522-12,47.757970,-122.164783,King,17.0,white,male,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
126,8019203,2016-02-10,15:00:00,S-161-23,47.122665,-122.293128,Pierce,17.0,asian/pacific islander,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
222,8019350,2016-02-04,09:00:00,I-090-11,47.578352,-122.134269,King,16.0,asian/pacific islander,female,...,vehicular,HOV Violations,NaN,True,False,citation,NaN,False,False,NaN
372,8019522,2016-02-17,06:00:00,S-007-50,47.121113,-122.434873,Pierce,17.0,white,female,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
397,8019548,2016-02-04,13:00:00,I-090-207,47.097400,-118.675654,Adams,17.0,white,male,...,vehicular,Left Lane Travel,NaN,True,True,citation,NaN,False,False,NaN
483,8019634,2016-02-09,09:00:00,I-090-11,47.578352,-122.134269,King,17.0,asian/pacific islander,male,...,vehicular,HOV Violations,NaN,True,False,citation,NaN,False,False,NaN
531,8019682,2016-02-10,08:00:00,I-090-11,47.578352,-122.134269,King,17.0,asian/pacific islander,male,...,vehicular,HOV Violations,NaN,True,False,citation,NaN,False,False,NaN
534,8019685,2016-02-10,09:00:00,I-090-11,47.578352,-122.134269,King,17.0,white,female,...,vehicular,HOV Violations,NaN,True,False,citation,NaN,False,False,NaN
609,8019800,2016-02-08,13:00:00,S-097-144,47.127095,-120.680580,Kittitas,17.0,white,male,...,vehicular,Oper Licence - I,NaN,True,False,citation,NaN,False,False,NaN
641,8019846,2016-02-26,09:00:00,C-017-991,NaN,NaN,NaN,17.0,white,female,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
733,8019938,2016-02-10,15:00:00,S-027-80,47.583112,-117.224236,Spokane,17.0,white,male,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
805,8020028,2016-02-07,10:00:00,I-090-209,47.102506,-118.598199,Adams,16.0,white,male,...,vehicular,Left Lane Travel,NaN,True,True,citation,NaN,False,False,NaN
873,8020110,2016-02-19,09:00:00,C-017-991,NaN,NaN,NaN,17.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
933,8020172,2016-02-17,07:00:00,S-410-42,47.156727,-121.671940,King,17.0,white,male,...,vehicular,Insurance - None,False,False,True,warning,NaN,False,False,NaN
955,8020196,2016-02-12,21:00:00,C-027-997,NaN,NaN,NaN,16.0,white,male,...,vehicular,Vehicle registration (paper),False,False,True,warning,NaN,False,False,NaN
999,8020248,2016-02-19,15:00:00,S-025-74,48.526810,-118.136196,Stevens,17.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
1012,8020261,2016-02-04,08:00:00,I-090-11,47.578352,-122.134269,King,17.0,white,male,...,vehicular,HOV Violations,NaN,True,False,citation,NaN,False,False,NaN
1341,8020595,2016-02-18,10:00:00,S-522-20,47.828163,-122.058262,Snohomish,17.0,white,male,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
1363,8020617,2016-02-16,09:00:00,S-169-25,47.481561,-122.193120,King,17.0,black,female,...,vehicular,Safety Belt|Oper Licence - I,NaN,True,False,citation,NaN,False,False,NaN
1375,8020629,2016-02-17,18:00:00,S-CMP-14,NaN,NaN,NaN,14.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
1381,8020635,2016-02-09,10:00:00,I-090-11,47.578352,-122.134269,King,17.0,white,female,...,vehicular,HOV Violations,NaN,True,False,citation,NaN,False,False,NaN
1409,8020663,2016-02-09,08:00:00,I-090-281,47.652609,-117.411915,Spokane,17.0,white,female,...,vehicular,NaN,False,False,False,NaN,NaN,False,False,NaN
1421,8020675,2016-02-22,17:00:00,S-CMP-1,NaN,NaN,NaN,14.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
1459,8020727,2016-02-19,14:00:00,I-405-1,47.463233,-122.247067,King,17.0,black,male,...,vehicular,Safety Belt,False,False,True,warning,NaN,False,False,NaN
1584,8020886,2016-02-12,07:00:00,C-017-991,NaN,NaN,NaN,17.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
1749,8021121,2016-02-09,14:00:00,I-005-143,47.315865,-122.296899,King,17.0,hispanic,male,...,vehicular,HOV Violations|Oper Licence - I,NaN,True,True,citation,NaN,False,False,NaN
1754,8021126,2016-02-12,11:00:00,S-509-25,47.462064,-122.330886,King,17.0,white,male,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
1777,8021149,2016-02-13,12:00:00,S-167-10,47.240741,-122.254122,Pierce,16.0,white,male,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264423,8715472,2016-03-26,19:00:00,NaN,NaN,NaN,NaN,17.0,white,female,...,vehicular,Safety Belt,NaN,True,False,citation,NaN,False,False,NaN
264500,8715561,2016-03-24,13:00:00,S-303-3,47.610495,-122.628756,Kitsap,17.0,white,female,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
264504,8715565,2016-03-30,09:00:00,S-003-45,47.658053,-122.704007,Kitsap,16.0,white,female,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
264687,8715915,2016-03-10,08:00:00,S-155-79,48.402580,-119.504505,Okanogan,17.0,other/unknown,female,...,vehicular,Safety Belt,NaN,True,False,citation,NaN,False,False,NaN
264782,8716156,2016-03-10,15:00:00,S-022-23,46.212090,-120.002272,Yakima,16.0,hispanic,female,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
264787,8716161,2016-03-14,21:00:00,NaN,NaN,NaN,NaN,16.0,hispanic,male,...,vehicular,Vehicle Lic (tabs/plates),False,False,True,warning,NaN,False,False,NaN
264856,8716230,2016-03-13,11:00:00,S-003-14,47.307959,-122.921160,Mason,16.0,white,female,...,vehicular,NaN,False,False,False,NaN,NaN,False,False,NaN
264880,8716270,2016-03-05,11:00:00,I-405-20,47.704741,-122.179502,King,16.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
264944,8716440,2016-03-12,15:00:00,S-009-20,48.064034,-122.111137,Snohomish,17.0,white,male,...,vehicular,Safety Belt|Insurance - None,NaN,True,True,citation,NaN,False,False,NaN
264992,8716488,2016-03-13,08:00:00,S-003-20,47.370254,-122.839889,Mason,17.0,white,female,...,vehicular,Vehicle Lic (tabs/plates)|Insurance - None,False,False,True,warning,NaN,False,False,NaN
265078,8716583,2016-03-12,20:00:00,NaN,NaN,NaN,NaN,16.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
265363,8716914,2016-03-11,20:00:00,I-005-110,47.048975,-122.818612,Thurston,17.0,white,female,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
265901,8717552,2016-03-13,14:00:00,I-005-166,47.619195,-122.328252,King,17.0,white,male,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
266044,8717752,2016-03-05,21:00:00,I-005-247,48.687766,-122.398776,Whatcom,17.0,white,male,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
266051,8717759,2016-03-17,00:00:00,NaN,NaN,NaN,NaN,17.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
266097,8717818,2016-03-14,07:00:00,S-009-16,48.006117,-122.106884,Snohomish,17.0,black,male,...,vehicular,Vehicle Lic (tabs/plates)|Vehicle registration...,False,False,True,warning,NaN,False,False,NaN
266126,8717847,2016-03-25,07:00:00,S-003-25,47.433723,-122.840027,Mason,16.0,white,male,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
266213,8717978,2016-03-17,18:00:00,I-082-76,46.256013,-119.878704,Yakima,17.0,hispanic,male,...,vehicular,Oper Licence - I,NaN,True,False,citation,NaN,False,False,NaN
266218,8717983,2016-03-23,06:00:00,S-522-22,47.834685,-122.021204,Snohomish,16.0,black,female,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
266267,8718043,2016-03-31,23:00:00,S-004-34,46.224903,-123.393015,Wahkiakum,16.0,white,male,...,vehicular,Vehicle registration (paper),False,False,True,warning,NaN,False,False,NaN
266339,8718132,2016-03-12,14:00:00,NaN,NaN,NaN,NaN,17.0,white,male,...,vehicular,Vehicle registration (paper),NaN,True,True,citation,NaN,False,False,NaN
266594,8718438,2016-03-28,21:00:00,S-125-5,46.046480,-118.353729,Walla Walla,17.0,white,female,...,vehicular,Vehicle registration (paper),False,False,True,warning,NaN,False,False,NaN
266713,8718563,2016-03-09,19:00:00,S-014-41,45.656448,-121.910375,Skamania,16.0,white,male,...,vehicular,Oper Licence - I,NaN,True,False,citation,NaN,False,False,NaN
266884,8718752,2016-03-01,17:00:00,I-082-77,46.256013,-119.878704,Yakima,17.0,white,female,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
266984,8718852,2016-03-16,21:00:00,I-082-69,46.306165,-119.978610,Yakima,17.0,hispanic,female,...,vehicular,NaN,False,False,True,warning,NaN,False,False,NaN
267082,8719011,2016-03-11,16:00:00,NaN,NaN,NaN,NaN,16.0,white,male,...,vehicular,Safety Belt,NaN,True,False,citation,NaN,False,False,NaN
267304,8719396,2016-03-18,01:00:00,S-009-8,47.892909,-122.109525,Snohomish,16.0,white,male,...,vehicular,Intermediate Driver Liscence|Intermediate Driv...,NaN,True,True,citation,NaN,False,False,NaN
267576,8719853,2016-03-02,15:00:00,S-006-49,46.642616,-123.019322,Lewis,17.0,white,male,...,vehicular,NaN,NaN,True,False,citation,NaN,False,False,NaN
267937,8720325,2016-03-18,14:00:00,I-005-167,47.619195,-122.328252,King,16.0,white,male,...,vehicular,Oper Licence - I,NaN,True,False,citation,NaN,False,False,NaN
268127,8720560,2016-03-14,07:00:00,S-009-16,48.006117,-122.106884,Snohomish,17.0,white,female,...,vehicular,Vehicle Lic (tabs/plates)|Vehicle registration...,False,False,True,warning,NaN,False,False,NaN

### Aggregation

In [26]:
# Hint: Start with df.groupby() and use shift + tab to look at its parameters

# df.groupby('Year').count().sort_values(by='subject_race', ascending=False)

grouped = df.groupby('subject_race')

In [27]:
grouped

What is the GroupBy object?

You can read more in its documentation [here](http://pandas.pydata.org/pandas-docs/stable/groupby.html#groupby-object-attributes).

But you can also explore!

In [ ]:
# Use tab to explore the `grouped` object

grouped.

What does it look like to find number of stops per `subject_race`?

In [28]:
grouped.count()

,raw_row_number,date,time,location,lat,lng,county_name,subject_age,subject_sex,officer_race,...,type,violation,arrest_made,citation_issued,warning_issued,outcome,contraband_found,frisk_performed,search_conducted,search_basis
subject_race,,,,,,,,,,,,,,,,,,,,,
asian/pacific islander,12355,12355,12355,11637,11392,11392,11392,12334,12355,12355,...,12355,6487,5667,12355,12355,11956,239,12354,12354,239
black,10153,10153,10153,9267,8955,8955,8955,10119,10153,10153,...,10153,6169,4650,10153,10153,9999,488,10152,10123,488
hispanic,19529,19529,19529,17835,16942,16942,16942,19485,19528,19529,...,19529,11782,9248,19529,19529,19149,750,19525,19475,750
other/unknown,3646,3646,3646,3377,3202,3202,3202,3637,3643,3646,...,3646,2213,1506,3646,3646,3590,172,3646,3637,172
white,140201,140201,140201,128122,123463,123463,123463,139901,140189,140201,...,140201,77088,72076,140201,140201,137117,3236,140197,140057,3236

This is a start, but how do we sort what we've found?

In [29]:
grouped_by_count = grouped.count()

Find your method:

In [30]:
grouped_by_count.sort_values(by='raw_row_number')

,raw_row_number,date,time,location,lat,lng,county_name,subject_age,subject_sex,officer_race,...,type,violation,arrest_made,citation_issued,warning_issued,outcome,contraband_found,frisk_performed,search_conducted,search_basis
subject_race,,,,,,,,,,,,,,,,,,,,,
other/unknown,3646,3646,3646,3377,3202,3202,3202,3637,3643,3646,...,3646,2213,1506,3646,3646,3590,172,3646,3637,172
black,10153,10153,10153,9267,8955,8955,8955,10119,10153,10153,...,10153,6169,4650,10153,10153,9999,488,10152,10123,488
asian/pacific islander,12355,12355,12355,11637,11392,11392,11392,12334,12355,12355,...,12355,6487,5667,12355,12355,11956,239,12354,12354,239
hispanic,19529,19529,19529,17835,16942,16942,16942,19485,19528,19529,...,19529,11782,9248,19529,19529,19149,750,19525,19475,750
white,140201,140201,140201,128122,123463,123463,123463,139901,140189,140201,...,140201,77088,72076,140201,140201,137117,3236,140197,140057,3236

This is useful! But it'd be more useful if it were sorted in descending order.

How do we figure out whether this is an option for the `sort_values` function?

In [31]:
grouped_by_count.sort_values(by='raw_row_number', ascending=False)

,raw_row_number,date,time,location,lat,lng,county_name,subject_age,subject_sex,officer_race,...,type,violation,arrest_made,citation_issued,warning_issued,outcome,contraband_found,frisk_performed,search_conducted,search_basis
subject_race,,,,,,,,,,,,,,,,,,,,,
white,140201,140201,140201,128122,123463,123463,123463,139901,140189,140201,...,140201,77088,72076,140201,140201,137117,3236,140197,140057,3236
hispanic,19529,19529,19529,17835,16942,16942,16942,19485,19528,19529,...,19529,11782,9248,19529,19529,19149,750,19525,19475,750
asian/pacific islander,12355,12355,12355,11637,11392,11392,11392,12334,12355,12355,...,12355,6487,5667,12355,12355,11956,239,12354,12354,239
black,10153,10153,10153,9267,8955,8955,8955,10119,10153,10153,...,10153,6169,4650,10153,10153,9999,488,10152,10123,488
other/unknown,3646,3646,3646,3377,3202,3202,3202,3637,3643,3646,...,3646,2213,1506,3646,3646,3590,172,3646,3637,172

In [32]:
stop_demographics = grouped_by_count['raw_row_number'].reset_index()

In [33]:
stop_demographics

             subject_race  raw_row_number
0  asian/pacific islander           12355
1                   black           10153
2                hispanic           19529
3           other/unknown            3646
4                   white          140201

You can create a new field or column on the fly by defining it like you would a variable and assigning a calculation to it.

In [34]:
stop_demographics['percent'] = stop_demographics[
    'raw_row_number'] / stop_demographics['raw_row_number'].sum()

In [35]:
stop_demographics

             subject_race  raw_row_number   percent
0  asian/pacific islander           12355  0.066466
1                   black           10153  0.054620
2                hispanic           19529  0.105060
3           other/unknown            3646  0.019614
4                   white          140201  0.754239

Why should we wait to report this finding?

# Scraping HTML tables with a single command

Ideally, we'll join this on census data. But if we'd like a quick reference, we can do the following:

#### How do we check what type `page` is?

In [36]:
page = pd.read_html(
    'https://en.wikipedia.org/wiki/Washington_(state)#Demographics', header=0)

The table we want is the 10th on the page.

#### How do we retrieve it?

In [37]:
type(page)

list

In [38]:
page[9]

,Racial composition,1990[68],2000[69],2010[70],2018[71]
0,White,88.5%,81.8%,77.3%,79.5%
1,Black or African American,3.1%,3.2%,3.6%,4.2%
2,American Indian and Alaska Native,1.7%,1.6%,1.5%,1.9%
3,Asian,4.3%,5.5%,7.2%,8.9%
4,Native Hawaiian and Other Pacific Islander,–,0.4%,0.6%,0.8%
5,Other race,2.4%,3.9%,5.2%,NaN
6,Two or more races,–,3.6%,4.7%,4.7%

#### Assign this to variable `demographics`

In [39]:
demographics = page[9]

In [40]:
demographics.head()

,Racial composition,1990[68],2000[69],2010[70],2018[71]
0,White,88.5%,81.8%,77.3%,79.5%
1,Black or African American,3.1%,3.2%,3.6%,4.2%
2,American Indian and Alaska Native,1.7%,1.6%,1.5%,1.9%
3,Asian,4.3%,5.5%,7.2%,8.9%
4,Native Hawaiian and Other Pacific Islander,–,0.4%,0.6%,0.8%

These columns headers are a little unwieldy. How do we fix that?

In [41]:
# demographics.rename(columns={})

You can also use a tool called a regular expression if there's a pattern in the text you want to manipulate. To test out regular expression in a helpful learning environment and without worrying about changing your data in unexpected ways, I recommend playing with a sample of your data on [regex101.com](regex101.com).

## Common cleaning/"munging" tasks

### String replacement or substitution

In [42]:
demographics.columns = demographics.columns.str.replace('\[\d+\]', '', regex=True)

In [43]:
demographics

                           Racial composition   1990   2000   2010   2018
0                                       White  88.5%  81.8%  77.3%  79.5%
1                   Black or African American   3.1%   3.2%   3.6%   4.2%
2           American Indian and Alaska Native   1.7%   1.6%   1.5%   1.9%
3                                       Asian   4.3%   5.5%   7.2%   8.9%
4  Native Hawaiian and Other Pacific Islander      –   0.4%   0.6%   0.8%
5                                  Other race   2.4%   3.9%   5.2%    NaN
6                           Two or more races      –   3.6%   4.7%   4.7%

In [44]:
demographics.replace('%|–', '', regex=True, inplace=True)

In [45]:
demographics

                           Racial composition  1990  2000  2010  2018
0                                       White  88.5  81.8  77.3  79.5
1                   Black or African American   3.1   3.2   3.6   4.2
2           American Indian and Alaska Native   1.7   1.6   1.5   1.9
3                                       Asian   4.3   5.5   7.2   8.9
4  Native Hawaiian and Other Pacific Islander         0.4   0.6   0.8
5                                  Other race   2.4   3.9   5.2   NaN
6                           Two or more races         3.6   4.7   4.7

### Converting data types

In [46]:
def convert(value):
    try:
        return float(value)/100
    except ValueError:
        return None

In [47]:
demographics[['1990', '2000', '2010',
              '2018']] = demographics[['1990', '2000', '2010',
                                       '2018']].applymap(lambda value: convert(value))

In [48]:
demographics

                           Racial composition   1990   2000   2010   2018
0                                       White  0.885  0.818  0.773  0.795
1                   Black or African American  0.031  0.032  0.036  0.042
2           American Indian and Alaska Native  0.017  0.016  0.015  0.019
3                                       Asian  0.043  0.055  0.072  0.089
4  Native Hawaiian and Other Pacific Islander    NaN  0.004  0.006  0.008
5                                  Other race  0.024  0.039  0.052    NaN
6                           Two or more races    NaN  0.036  0.047  0.047

This is only the beginning! It's okay if all of this doesn't make sense now. It's okay to copy and paste a bit of code, change one variable, and run it again to see what happens. Remember that `shift` + `tab` and following a command with `?` will bring up documentation in the notebook, or you can add [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to your bookmarks.